/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
:root {
  --ion-color-tertiary: #0097B2;
  --ion-color-tertiary-rgb: 0,151,178;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #00859d;
  --ion-color-tertiary-tint: #1aa1ba;
}

/*
 * Dark Theme
 * -------------------------------------------
 */
/* Logo Swapping */
.dark-logo {
  display: none !important;
}

.dark .light-logo,
[data-theme="dark"] .light-logo {
  display: none !important;
}

.dark .dark-logo,
[data-theme="dark"] .dark-logo {
  display: inline-block !important;
}

:root.dark,
body.dark,
.dark {
  --ion-color-tertiary: #0097B2;
  --ion-color-tertiary-rgb: 0,151,178;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #00859d;
  --ion-color-tertiary-tint: #1aa1ba;
}
