:host {
    ::ng-deep {
        ion-item-divider {
            display: none !important;
        }

        ion-list {
            contain: none !important;
            overflow: visible !important;
            background: transparent !important;
        }

        core-loading {
            contain: none !important;
            overflow: visible !important;
            --internal-loading-inline-min-height: calc(100vh - var(--core-header-toolbar-height));
        }

        core-block {
            contain: none !important;
            overflow: visible !important;
            display: block;

            ion-card.addon-block-myoverview {
                --border-width: 0;
                margin: 0;
                overflow: visible !important;
                contain: none !important;
                box-shadow: none;
                background: transparent;
            }
        }
    }
}

:host-context(ion-tabs.placement-bottom) ::ng-deep core-loading {
    --internal-loading-inline-min-height: calc(100vh - var(--core-header-toolbar-height) - var(--bottom-tabs-size) - 2px);
}
