ion-searchbar,
.ios ion-searchbar {
    --background: var(--ion-searchbar-background);
    --border-color: var(--ion-searchbar-border-color);
    --color: var(--ion-searchbar-color);
    --border-radius: var(--ion-searchbar-border-radius);
    --icon-color: var(--ion-searchbar-icon-color);
    --height: var(--ion-searchbar-height);

    height: var(--height) !important;

    .searchbar-input-container {
        color: var(--color) !important;
        height: var(--height) !important;
    }

    .searchbar-input {
        --border-radius: var(--ion-searchbar-border-radius);

        height: var(--height) !important;
        border: 1px solid var(--border-color) !important;
        box-shadow: none !important;
        border-radius: var(--border-radius) !important;
        background: var(--background) !important;
        @include padding-horizontal(var(--height) !important);
    }

    .searchbar-search-icon {
        top: 50% !important;
        transform: translateY(-50%) !important;
        margin: 0 !important;
        inset-inline-start: 16px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button.searchbar-clear-button,
    button {
        top: 50% !important;
        transform: translateY(-50%) !important;
        margin: 0 !important;
        inset-inline-end: 8px !important;
    }
}
