<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>
        <ion-title>
            <h1>{{ 'addon.messages.messages' | translate }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" [disabled]="!preferencesLoaded" (ionRefresh)="refreshPreferences($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}" />
    </ion-refresher>
    <core-loading [hideUntil]="preferencesLoaded">
        <div class="md3-settings-container">
            <!-- General settings. -->
            <div class="md3-settings-group">
                <div class="md3-group-title">{{ 'core.settings.general' | translate }}</div>
                <div class="md3-group-card">
                    <ion-item class="ion-text-wrap" lines="none">
                        <ion-toggle [(ngModel)]="sendOnEnter" (ngModelChange)="sendOnEnterChanged()">
                            <p class="item-heading">{{ 'addon.messages.useentertosend' | translate }}</p>
                        </ion-toggle>
                    </ion-item>
                </div>
            </div>

            @if (warningMessage()) {
                <core-alert-card type="warning" [message]="warningMessage()"/>
            } @else {
                <!-- Contactable privacy. -->
                <div class="md3-settings-group">
                    <div class="md3-group-title">{{ 'addon.messages.contactableprivacy' | translate }}</div>
                    <div class="md3-group-card">
                        <ion-radio-group [(ngModel)]="contactablePrivacy" (ionChange)="saveContactablePrivacy(contactablePrivacy)">
                            <ion-item class="ion-text-wrap" lines="none">
                                <ion-radio labelPlacement="end" justify="start" [value]="onlyContactsValue">
                                    <p class="radio-label">{{ 'addon.messages.contactableprivacy_onlycontacts' | translate }}</p>
                                </ion-radio>
                            </ion-item>
                            <div class="md3-card-divider"></div>
                            <ion-item class="ion-text-wrap" lines="none">
                                <ion-radio labelPlacement="end" justify="start" [value]="courseMemberValue">
                                    <p class="radio-label">{{ 'addon.messages.contactableprivacy_coursemember' | translate }}</p>
                                </ion-radio>
                            </ion-item>
                            @if (allowSiteMessaging) {
                                <div class="md3-card-divider"></div>
                                <ion-item class="ion-text-wrap" lines="none">
                                    <ion-radio labelPlacement="end" justify="start" [value]="siteValue">
                                        <p class="radio-label">{{ 'addon.messages.contactableprivacy_site' | translate }}</p>
                                    </ion-radio>
                                </ion-item>
                            }
                        </ion-radio-group>
                    </div>
                </div>

                <!-- Notifications. -->
                @if (preferences) {
                    <ng-container *ngFor="let component of preferences.components">
                        <div *ngFor="let notification of component.notifications" class="md3-settings-group">
                            <div class="md3-group-title">{{ 'addon.notifications.notificationpreferences' | translate }}</div>
                            <div class="md3-group-card">
                                <ng-container *ngFor="let processor of notification.processors; let last = last">
                                    <ion-item class="ion-text-wrap" lines="none">
                                        <ion-label>
                                            <p class="item-heading">{{ processor.displayname }}</p>
                                        </ion-label>
                                        @if (!preferences.disableall) {
                                            @if (!processor.locked) {
                                                <core-button-with-spinner [loading]="notification.updating" slot="end">
                                                    <ion-toggle [(ngModel)]="processor.enabled"
                                                        (ngModelChange)="changePreference(notification, processor)" />
                                                </core-button-with-spinner>
                                            } @else {
                                                <span class="status-badge forced" slot="end">
                                                    {{ processor.lockedmessage }}
                                                </span>
                                            }
                                        } @else {
                                            <span class="status-badge disabled" slot="end">{{ 'core.settings.disabled' | translate }}</span>
                                        }
                                    </ion-item>
                                    <div *ngIf="!last" class="md3-card-divider"></div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                }
            }
        </div>
    </core-loading>
</ion-content>
